body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 100%;
    font-family: 'VT323', monospace;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10%;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    text-align: left;
}

h1 {
    font-size: 4em;
    margin: 0;
}

.links {
    margin-top: 10px;
}

p {
    font-size: 1.5em;
    margin: 5px 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.2em;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}
